<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/movies.css">
    <title></title>
  </head>
  <body>
    <h1>Edit Movie</h1>

    <form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=movie.name%>" /><br />
      Synopsis: <input type="text" name="synop" value="<%=movie.synop%>" /><br />
      Favorite Actor/Actress: <input type="text" name="favActor" value="<%=movie.favActor%>" /><br />
      Rating: <input type="number" name="rating" value="<%=movie.rating%>" /><br />
      <input type="submit" name="submit" value="UPDATE"><a href="/movies"><button>Cancel</button></a>
    </form>
  </body>
</html>
